body {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen';
    overflow-x: hidden;
}


.Upperpart {
    position: relative; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    width: 100%; 
}


.upperpartyellow {
    width: 100%; 
    height: auto; 
    position: absolute; 
    top: 0;
    left: 0;
}


.navbar {
    position: absolute;
    top: 0;
    left: 70%;
    transform: translateX(-50%); 
    width: 100%;
    background-color: transparent; 
    padding: 10px 0;
    text-align: center; 
    z-index: 1; 
}


.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}


.navbar ul li {
    margin: 0 15px;
}


.navbar ul li a {
    color: black; 
    text-decoration: none;
    font-size: 16px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar ul li a:hover {
    color: white;
}

.icon-link {
    display: inline-block; 
    margin-left: 15px;
    transition: color 0.3s ease;
}


.icon {
    width: 24px;
    height: auto;
    vertical-align: middle; 
}

.icon-link:hover .icon {
    filter: invert(100%); 
}

.headlinebody {
    position:absolute;
    z-index: 2; 
    text-align: left; 
    padding: 50px; 
    color: black;
    left:10px;
    top: 40px;
}

.headline {
    font-size: 40px;
    color: black; 
    font-family: 'Pacifico', cursive;
    margin: 0; 
    
}

.highlight {
    color: #FFD707; 
}

.body-text {
    font-family: 'Inder', sans-serif; 
    font-size: 18px;
    color: black;
    margin-top: 15px;
    max-width:400px; 
}

.btn {
    color: white;
    border: none;
    border-radius: 5px;
    height: auto;
    width: 130px;
    font-family:'Oxygen';
    padding-top: 5px;
    padding-bottom: 5px;

}

#btn-yellow {
    background-color: #FFD707;
}

#btn-red {
    background-color: #E35D61;
}


.h2 {
    margin: 0;
    padding: 0;
}

.brownplate-image {
    width: 30%; 
    height: auto; 
    margin-right: 20px; /* Lägg till marginal till höger om bilden */
}

.middlepart {
    display: flex;
    position: relative;
    align-self: left;
    align-items: left; /* Vertikal centrerad justering */
    justify-content: left; /* Justera innehållet horisontellt */
    flex-direction: row;
    margin-top: 500px;
    margin-left: 40px;
}

.customer {
    display: flex;
    flex-direction: column;
    align-self: left;
    padding: 30px; 
    margin-left: 10px;
}

.plates {
    display:flex;
    flex-direction: row;
    padding: 10px; 
    margin-left: 10px;
    align-items: flex-start;
}

.platesimg{
    object-fit: contain; 
    z-index: 3;
    padding: 10px;
}

@media (max-width: 768px) {
    .headline {
        font-size: 30px; 
    }

    .body-text {
        font-size: 16px;
        max-width: 90%; 
    }

    .navbar ul {
        flex-direction: column; 
    }

    .navbar ul li {
        margin: 10px 0; 
    }
}