@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Inder&family=Oxygen&display=swap");
			/* Custom Tailwind config */
			html {
				font-family: "Oxygen", sans-serif;
			}
			.font-pacifico {
				font-family: "Pacifico", cursive;
			}
			.font-inder {
				font-family: "Inder", sans-serif;
			}

            .icon-link:hover img {
        filter: invert(100%);
    }

	.btn {
		color: white;
		padding: 10px 20px;
		border-radius: 10px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transition: transform 0.2s;
		text-align: center;
		display: inline-block;
		cursor: pointer;
	}

	.btn-red {
		background-color: #E35D61;
	}

	.btn-orange {
		background-color: #F6A317;
	}

	.relative {
		position: relative;
	}
	
	.absolute {
		position: absolute;
	}
	
	.z-30 {
		z-index: 30;
	}
	
	.w-full {
		width: 100%;
	}
	
	.h-auto {
		height: auto;
	}
	
	/* Utility classes for transform and centering */
	.transform {
		transform: translateX(-50%) translateY(-50%);
	}

	h1.font-pacifico {
		font-size: 28px; /* Default for desktop */
	}
	
	h2.font-inder {
		font-size: 22px; /* Default for desktop */
	}
	
	p.font-oxygen {
		font-size: 16px; /* Default for desktop */
	}
	
	/* Media Queries for Mobile */
	@media (max-width: 768px) {
		h1.font-pacifico {
			font-size: 20px; /* Smaller size for mobile */
		}
		
		h2.font-inder {
			font-size: 16px; /* Smaller size for mobile */
		}
	
		p.font-oxygen {
			font-size: 12px; /* Smaller size for mobile */
		}
	}